/*
 * CSS present to prove that SparkJava static files are working as intended.
 *
 * @author Caleb L. Power
 *
 */
body {
  overflow: hidden;
  color: #444;
  min-width: 600px;
}
.header {
  padding: 15px 10px;
  background-color: #373d49;
  height: 50px;
}

.hidden{display: none !important;}

.wpb-wrapper {
  height: calc(100vh - 100px);
  position: relative;
  overflow-y: scroll;
  z-index: 5;
  word-wrap: break-word;
}
.line-number-bg {
  background-color: #f5f7fa;
  height: 100%;
  width: 50px;
  position: absolute;
  border-right: 1px solid #d3daea;
}
.wrapper,
.preview {
  line-height: 1.3em;
  counter-reset: line;
  font-family: "Source Code Pro";
  font-size: 18px;
  padding: 15px 0;
  height: 100%;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
.code {
  width: 100%;
  height: 100%;
}

.line {
  display: flex;
  align-items: center;
  background-color: #f7fafc;
  padding: 5px 0;
}

.line:before {
  color: #6f6f6f;
  counter-increment: line;
  content: counter(line);
  width: 2em;
  text-align: right;
  display: inline-block;
  margin-right: 28px;
  flex: 0 0 auto;
  z-index: 5;
}

a {
  color: #aaa;
}

.link-title {
  color: #ce9178;
}

.punctuation {
  color: white;
}

.code-yellow {
  color: #dcdcaa;
}

.code-purple {
  color: #bd7bb8;
}

.comment {
  color: #519cd0;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 0;
  }

  55% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.cursor {
  height: 1em;
  background: #fff;
  width: 1px;
  display: inline-block;
  margin-bottom: -2px;
  animation: blink 600ms linear infinite alternate;
}


/* Spinner */

.spinner-container{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
}

.spinner {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
  }
  
  .cube1, .cube2 {
	background-color: #333;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 0;
	left: 0;
	
	-webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
	animation: sk-cubemove 1.8s infinite ease-in-out;
  }
  
  .cube2 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
  }
  
  @-webkit-keyframes sk-cubemove {
	25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
	50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
	75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
	100% { -webkit-transform: rotate(-360deg) }
  }
  
  @keyframes sk-cubemove {
	25% { 
	  transform: translateX(42px) rotate(-90deg) scale(0.5);
	  -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
	} 50% { 
	  transform: translateX(42px) translateY(42px) rotate(-179deg);
	  -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
	} 50.1% { 
	  transform: translateX(42px) translateY(42px) rotate(-180deg);
	  -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
	} 75% { 
	  transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	  -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
	} 100% { 
	  transform: rotate(-360deg);
	  -webkit-transform: rotate(-360deg);
	}
  }